h1 {
  color: $color-main;
  font-weight: $weight-black;
  font-size: 96px;
  letter-spacing: 120px;
  text-transform: uppercase;
}

h2 {
  color: $color-main;
  font-weight: $weight-semibold;
  text-align: center;
  font-size: 48px;
  letter-spacing: 20px;
  line-height: 27px;
  text-transform: uppercase;
}

h3 {
  color: $color-secondary;
  font-weight: $weight-semibold;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 27px;
  text-transform: uppercase;
}

h4 {
  color: $color-secondary;
  font-weight: $weight-semibold;
  font-size: 48px;
  letter-spacing: 12px;
  text-transform: uppercase;
}