// Colors //

$color-main: #FFF;
$color-secondary: #BFBFBF;
$color-three: #CF383E;
$color-button: #CF383E;
$color-background: #131313;

// Font-weight //

$weight-black: 900;
$weight-bold: 700;
$weight-semibold: 600;
$weight-regular: 400;