.subscribe-sign {
  margin: -8px;
  -webkit-text-stroke: 2px $color-background;
  text-shadow: 1px 1px 2px $color-three, 0 0 16px $color-background, 0 0 3.2px $color-background;
}

.subscribe-box {
  display: grid;
  background-image: url('https://i.postimg.cc/L55GQ5t7/subscribe.jpg');
  background-position: center;
  background-size: cover;
  height: 682px;
  width: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: [row-1] 100px, [row-2] calc((100% - 200px) / 4), [row-3] calc((100% - 200px) / 4), [row-4] calc((100% - 200px) / 4), [row-5] calc((100% - 200px) / 4), [row-6] 100px;

  .artist-image {
    background-image: url('https://i.postimg.cc/ydvwTcZc/artist.jpg');
    background-size: cover;
    background-position: center;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
  }

  .button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new-album {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: end;
  }

  .album-title {
    position: relative;
    color: $color-main;
    margin: 30px 0 10px 0;
    text-shadow: 1px 1px 2px $color-background, 0 0 16px $color-three, 0 0 3.2px $color-three;
    animation: blink 5s infinite;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  .album-subtitle {
    color: $color-main;
    letter-spacing: 4px;
    text-shadow: $color-three 3px 6px;
    animation: blink 5s infinite;
  }

  .artist-name {
    color: $color-main;
    font-weight: $weight-black;
    letter-spacing: 10px;
    text-shadow: $color-three 3px 6px;
    -webkit-text-stroke: 2px $color-background;

    p {
      margin: 0;
    }
  }

  .artist-surname {
    color: $color-main;
    font-weight: $weight-black;
    letter-spacing: 10px;
    text-shadow: $color-three 3px 6px;
    -webkit-text-stroke: 2px $color-background;

    p span {
      color: $color-button;
      text-shadow: $color-main 3px 6px;

    }
  }
}